# BLACKLIST all
*

# WHITELIST dirs
!/common/
!/tests/

# BLACKLIST hidden directories
**/.*/

# WHITELIST types
!**/*.py
!**/*.pyi
!**/*.sh

# WHITELIST files
!README.md
!.gitignore
!.requirements.txt
