# BLACKLIST all
*

# WHITELIST dirs
!/common/
!/common/**/*
!/tests/
!/rustmod/
!/rustmod/src/

# BLACKLIST 
**/.*/
**/__pycache__/

# WHITELIST types
!**/*.py
!**/*.pyi
!**/*.sh
!**/*.rs
!**/*.toml

# WHITELIST files
!README.md
!.gitignore
!.requirements.txt
