astropy==7.0.0
astropy-iers-data==0.2025.1.6.0.33.42
h5py==3.12.1
numpy==2.2.1
packaging==24.2
pandas==2.2.3
pillow==11.1.0
pyerfa==2.0.1.5
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
six==1.17.0
typeguard==4.4.1
typing_extensions==4.12.2
tzdata==2024.2
